                    body,
                    ul,
                    li,
                    p {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        font-size: 1.2rem;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    h1 {
                        text-align: center;
                        margin-top: 100px;
                    }
                    
                    img {
                        max-width: 100%;
                        display: block;
                    }
                    
                    a {
                        text-decoration: none;
                        color: white;
                    }
                    
                    .header {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 20px;
                        background-color: teal;
                        cursor: pointer;
                    }
                    
                    .header img {
                        width: 50px;
                    }
                    
                    .menu {
                        display: flex;
                    }
                    
                    .menu li {
                        margin-left: 10px;
                    }
                    
                    .menu li a {
                        display: block;
                        padding: 10px;
                    }
                    
                    .box__flex {
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 800px;
                        margin: 0 auto;
                    }
                    
                    .box__flex>div {
                        flex: 1 1 200px;
                        margin: 10px;
                    }
                    
                    @media (max-width:375px) {
                        .menu {
                            display: flex;
                            flex-direction: column;
                        }
                        .header {
                            justify-content: flex-end;
                        }
                        a {
                            display: none;
                        }
                        .header img {
                            display: none;
                        }
                    }